{
    "serverPort": 3000,
    "mongodb": "mongodb://localhost:27017",
    "JWTKey": "",
    "smtpPassword": "",
    "smtpUsername": "",
    "smtpPort": 465,
    "smtpHost": "",
    "smtpFrom": "",
    "smtpSecure": true
}