<!DOCTYPE html>
<html>

<head>
    <title>Event Page</title>
    <script src="/js/interact.min.js"></script>
    <script src="/js/replayManager.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketManager.js"></script>
    <script defer src="web-components/mini-window.js"></script>
    <script defer src="web-components/mini-window-closable.js"></script>
    <script defer src="web-components/side-bar-window.js"></script>
    <script defer src="web-components/chart-window.js"></script>
    <script defer src="web-components/live-chart-window.js"></script>
    <script defer src="web-components/table-window.js"></script>
    <script defer src="web-components/pilot-times-window.js"></script>
    <script src="/js/colorGen.js"></script>
    <script src="/js/dragResize.js"></script>
    <script src="/js/event.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/event.css">
    <link rel="stylesheet" href="css/layout.css">

</head>

<body>
    <div class="titlebar">
        <div class="topnav">
            <a href="index">Home</a>
            <a class="active" href="event">Current Event</a>
            <a href="historical">Historical Data</a>
            <a href="login" style="float:right">Login</a>
            <a href="user" style="float:right">User</a>
            <a href="admin" style="float:right">Admin</a>
        </div>
    </div>

    <div class="section">
        <div class="dropdown-section">
            <label for="eventDropdown">Select Event:</label>
            <select id="eventDropdown">
                <option value="">--Select an Event--</option>
                <!-- Event options will be populated here -->
            </select>
        </div>
    </div>

    <pilot-times-window id="eventTimes" class="finish-times">
    </pilot-times-window>

    <live-chart-window id="race-chart" class="race-chart">        
    </live-chart-window>

    <live-chart-window id="race-chart2" class="race-chart">        
    </live-chart-window>

</body>

</html>