nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

body {
    font-family: 'Arial', sans-serif;
    background: #333;
    color: white;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(117, 117, 117);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2e2d2d;
}

.section div {
    float: left;
    padding: 12px 12px;
    border-radius: 10px;
    border: 5px ridge rgba(0, 0, 0, 0.85);
    background: rgba(64, 64, 64, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.section h1 {
    margin-top: 0%;
    padding: 5px 5px;
}
.form-section div {
    float: top;
    padding: 12px 12px;
    border-radius: 10px;
    border: 5px ridge rgba(0, 0, 0, 0.85);
    background: rgba(64, 64, 64, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.dropdown-section div {
    float: left;
    padding: 12px 12px;
    border-radius: 10px;
    border: 5px ridge rgba(0, 0, 0, 0.85);
    background: rgba(64, 64, 64, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.race-status div {
    float: right;
    padding: 5px 5px;
    width:30%;
    border-radius: 10px;
    border: 5px ridge rgba(0, 0, 0, 0.85);
    background: rgba(64, 64, 64, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.race-status h2 {
    margin-top: 0%;
    padding: 5px 5px;
}